<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Account Deactivation Notice</h1>
  <p>Hi, <%= @user.name %>!</p>
  <p>Your account has been deactivated.</p>
</body>
</html>
