<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>New Comment on Your Task</h1>
  <p>Hi, <%= @user.name %>!</p>
  <p>You have a new comment on your task: <%= @comment.content %></p>
</body>
</html>
