<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>New Message Notification</h1>
  <p>Hi, <%= @user.name %>!</p>
  <p>You have a new message: <%= @message.content %></p>
</body>
</html>
