<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Password Reset Instructions</h1>
  <p>Hi, <%= @user.name %>!</p>
  <p>You can reset your password by following this link: <%= @url %></p>
</body>
</html>
