<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Task Deadline Reminder</h1>
  <p>Hi, <%= @user.name %>!</p>
  <p>This is a reminder that the deadline for your task "<%= @task.title %>" is approaching.</p>
</body>
</html>
