<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Hi, <%= @user.name %>!</h1>
  <p>
    You have a new task: <%= @task.title %>.<br>
    Description: <%= @task.description %>.<br>
    Due date: <%= @task.due_date %>.
  </p>
</body>
</html>
