<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>Welcome to My Awesome Site, <%= @user.name %>!</h1>
  <p>
    You have successfully signed up to my awesome site,
    your username is: <%= @user.email %>.<br>
    To login to the site, just follow this link: <%= @url %>.
  </p>
</body>
</html>
